<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" parallel="methods" thread-count="3" verbose="2">

    <listeners>
        <listener class-name="com.automation.listeners.TestListener" />
    </listeners>

    <!-- UI Tests -->
    <test name="UI Tests">
        <classes>
            <class name="com.automation.tests.ui.LoginTest" />
        </classes>
    </test>

    <!-- API Tests -->
    <test name="API Tests">
        <classes>
            <class name="com.automation.tests.api.UserAPITest" />
        </classes>
    </test>

</suite>
